.recipesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 200px;
    padding: 80px;
    justify-content: center;
    margin-right: 46px;
  }
  
  @media (max-width: 560px) {
    .recipesGrid {
      grid-template-columns: 100%;      
      margin-right: 0;
    }
  }
  